In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Pulled Vaccine Data

vaccine_file = "Resources/country_vaccine.csv"
vaccine_df = pd.read_csv(vaccine_file)
vaccine_df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7739,Zimbabwe,ZWE,2021-03-18,40002.0,40002.0,NaN,395.0,569.0,0.27,0.27,NaN,38.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7740,Zimbabwe,ZWE,2021-03-19,41687.0,41687.0,NaN,1685.0,772.0,0.28,0.28,NaN,52.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7741,Zimbabwe,ZWE,2021-03-20,42210.0,42210.0,NaN,523.0,836.0,0.28,0.28,NaN,56.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7742,Zimbabwe,ZWE,2021-03-21,42729.0,42729.0,NaN,519.0,910.0,0.29,0.29,NaN,61.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7743,Zimbabwe,ZWE,2021-03-22,43294.0,43294.0,NaN,565.0,805.0,0.29,0.29,NaN,54.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...

In [4]:
#Created Vaccine Dataframe

# filtered the dataframe by betweens between 01-01-2021 through 03-01-2021
clean_vaccine = vaccine_df.loc[(vaccine_df['date'] >= '2021-01-01') & (vaccine_df['date'] < '2021-03-21')]

# replaced columns with nan with 0
clean_vaccine['total_vaccinations'] = clean_vaccine['total_vaccinations'].fillna(0)
clean_vaccine['people_vaccinated'] = clean_vaccine['people_vaccinated'].fillna(0)
clean_vaccine['daily_vaccinations'] = clean_vaccine['daily_vaccinations'].fillna(0)

#sorted the dataframe by the date column in ascending order
clean_vaccine = clean_vaccine.sort_values('date')

clean_vaccine.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
781,Belgium,BEL,2021-01-01,794.0,794.0,NaN,8.0,124.0,0.01,0.01,NaN,11.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Sciensano,https://epistat.wiv-isp.be/covid/
5760,Qatar,QAT,2021-01-01,0.0,0.0,NaN,NaN,1351.0,NaN,NaN,NaN,469.0,Pfizer/BioNTech,Ministry of Public Health,https://covid19.moph.gov.qa/EN/Pages/default.aspx
4214,Lithuania,LTU,2021-01-01,0.0,0.0,NaN,NaN,1466.0,NaN,NaN,NaN,539.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://ls-osp-sdg.maps.arcgis.com/apps/opsdas...
4297,Luxembourg,LUX,2021-01-01,0.0,0.0,NaN,NaN,62.0,NaN,NaN,NaN,99.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of Luxembourg,https://data.public.lu/fr/datasets/r/9ddfedd6-...
1289,Cayman Islands,CYM,2021-01-01,0.0,0.0,NaN,NaN,275.0,NaN,NaN,NaN,4184.0,Pfizer/BioNTech,Cayman Islands Government,https://www.exploregov.ky/coronavirus-statistics

In [5]:
#converted the date column to datetime

clean_vaccine['date'] = pd.to_datetime(clean_vaccine['date'])
clean_vaccine

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
781,Belgium,BEL,2021-01-01,794.0,794.0,NaN,8.0,124.0,0.01,0.01,NaN,11.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Sciensano,https://epistat.wiv-isp.be/covid/
5760,Qatar,QAT,2021-01-01,0.0,0.0,NaN,NaN,1351.0,NaN,NaN,NaN,469.0,Pfizer/BioNTech,Ministry of Public Health,https://covid19.moph.gov.qa/EN/Pages/default.aspx
4214,Lithuania,LTU,2021-01-01,0.0,0.0,NaN,NaN,1466.0,NaN,NaN,NaN,539.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://ls-osp-sdg.maps.arcgis.com/apps/opsdas...
4297,Luxembourg,LUX,2021-01-01,0.0,0.0,NaN,NaN,62.0,NaN,NaN,NaN,99.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of Luxembourg,https://data.public.lu/fr/datasets/r/9ddfedd6-...
1289,Cayman Islands,CYM,2021-01-01,0.0,0.0,NaN,NaN,275.0,NaN,NaN,NaN,4184.0,Pfizer/BioNTech,Cayman Islands Government,https://www.exploregov.ky/coronavirus-statistics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412,Faeroe Islands,FRO,2021-03-20,0.0,0.0,NaN,NaN,74.0,NaN,NaN,NaN,1514.0,"Moderna, Pfizer/BioNTech",Government of the Faeroe Islands,https://corona.fo/api
6057,Rwanda,RWA,2021-03-20,333355.0,333355.0,NaN,3945.0,11402.0,2.57,2.57,NaN,880.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://twitter.com/RwandaHealth/status/137409...
5577,Philippines,PHL,2021-03-20,0.0,0.0,NaN,NaN,16154.0,NaN,NaN,NaN,147.0,Sinovac,Government of the Philippines,https://news.abs-cbn.com/news/03/22/21/doh-say...
6888,Spain,ESP,2021-03-20,0.0,0.0,NaN,NaN,94115.0,NaN,NaN,NaN,2013.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://www.mscbs.gob.es/profesionales/saludPu...
7741,Zimbabwe,ZWE,2021-03-20,42210.0,42210.0,NaN,523.0,836.0,0.28,0.28,NaN,56.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...

In [6]:
#created a primary key column "date_country" using the country name plus the date

clean_vaccine['date_country'] = (clean_vaccine['country'])+ (clean_vaccine['date'].astype(str))

# reset the index and dropped the index column
reset_vaccine = clean_vaccine.reset_index()
reset_vaccine = reset_vaccine.drop('index', axis=1)
reset_vaccine.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website,date_country
0,Belgium,BEL,2021-01-01,794.0,794.0,NaN,8.0,124.0,0.01,0.01,NaN,11.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Sciensano,https://epistat.wiv-isp.be/covid/,Belgium2021-01-01
1,Qatar,QAT,2021-01-01,0.0,0.0,NaN,NaN,1351.0,NaN,NaN,NaN,469.0,Pfizer/BioNTech,Ministry of Public Health,https://covid19.moph.gov.qa/EN/Pages/default.aspx,Qatar2021-01-01
2,Lithuania,LTU,2021-01-01,0.0,0.0,NaN,NaN,1466.0,NaN,NaN,NaN,539.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://ls-osp-sdg.maps.arcgis.com/apps/opsdas...,Lithuania2021-01-01
3,Luxembourg,LUX,2021-01-01,0.0,0.0,NaN,NaN,62.0,NaN,NaN,NaN,99.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of Luxembourg,https://data.public.lu/fr/datasets/r/9ddfedd6-...,Luxembourg2021-01-01
4,Cayman Islands,CYM,2021-01-01,0.0,0.0,NaN,NaN,275.0,NaN,NaN,NaN,4184.0,Pfizer/BioNTech,Cayman Islands Government,https://www.exploregov.ky/coronavirus-statistics,Cayman Islands2021-01-01

In [7]:
#pulled the daily_corona csv

corona_file = "Resources/daily_corona.csv"
corona_df = pd.read_csv(corona_file)
corona_df.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN

In [8]:
# filtered the dataframe by betweens between 01-01-2021 through 03-01-2021

clean_corona = corona_df.loc[(corona_df['date'] >= '2021-1-01') & (corona_df['date'] < '2021-3-21')]

# replaced columns with nan with 0
clean_corona['daily_new_cases'] = clean_corona['daily_new_cases'].fillna(0)
clean_corona['daily_new_deaths'] = clean_corona['daily_new_deaths'].fillna(0)

#sorted the dataframe by the date column in ascending order
clean_corona = clean_corona.sort_values('date')
clean_corona.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
321,2021-1-01,Afghanistan,52586.0,73.0,8200.0,2211.0,10.0
30167,2021-1-01,Gabon,9571.0,0.0,119.0,64.0,0.0
58780,2021-1-01,Niger,3403.0,80.0,1469.0,106.0,2.0
7978,2021-1-01,Belize,10776.0,0.0,733.0,248.0,0.0
80945,2021-1-01,Trinidad And Tobago,7158.0,8.0,360.0,127.0,0.0

In [9]:
#converted the date column to datetime

clean_corona['date'] = pd.to_datetime(clean_corona['date'])
clean_corona

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
321,2021-01-01,Afghanistan,52586.0,73.0,8200.0,2211.0,10.0
30167,2021-01-01,Gabon,9571.0,0.0,119.0,64.0,0.0
58780,2021-01-01,Niger,3403.0,80.0,1469.0,106.0,2.0
7978,2021-01-01,Belize,10776.0,0.0,733.0,248.0,0.0
80945,2021-01-01,Trinidad And Tobago,7158.0,8.0,360.0,127.0,0.0
...,...,...,...,...,...,...,...
35484,2021-03-20,Guyana,9585.0,99.0,882.0,214.0,2.0
52813,2021-03-20,Micronesia,1.0,0.0,0.0,NaN,0.0
60873,2021-03-20,Panama,350665.0,445.0,5384.0,6042.0,7.0
35887,2021-03-20,Haiti,12714.0,0.0,1851.0,251.0,0.0
88277,2021-03-20,Zimbabwe,36662.0,10.0,895.0,1510.0,0.0

In [10]:
# reset the index and dropped the index column

reset_corona = clean_corona.reset_index()
reset_corona = reset_corona.drop('index', axis=1)

#created a primary key column "date_country" using the country name plus the date
reset_corona['date_country'] = reset_corona['country']+ (reset_corona['date'].astype(str))
reset_corona.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,date_country
0,2021-01-01,Afghanistan,52586.0,73.0,8200.0,2211.0,10.0,Afghanistan2021-01-01
1,2021-01-01,Gabon,9571.0,0.0,119.0,64.0,0.0,Gabon2021-01-01
2,2021-01-01,Niger,3403.0,80.0,1469.0,106.0,2.0,Niger2021-01-01
3,2021-01-01,Belize,10776.0,0.0,733.0,248.0,0.0,Belize2021-01-01
4,2021-01-01,Trinidad And Tobago,7158.0,8.0,360.0,127.0,0.0,Trinidad And Tobago2021-01-01

In [11]:
# Connect to local Database

rds_connection_string = "postgres:anthony91@localhost:5432/hw_11"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
# pulled the table names from our database

engine.table_names()

['country_vaccine', 'daily_corona']

In [13]:
#pushed the reset_vaccine dataframe to our table: COUNTRY_VACCINE

reset_vaccine.to_sql(name='country_vaccine', con=engine, if_exists='append', index=False)

In [14]:
#pushed the reset_corona dataframe to our table:daily_corona

reset_corona.to_sql(name='daily_corona', con=engine, if_exists='append', index=False)

In [15]:
#read the table: COUNTRY_VACCINE from our database

pd.read_sql_query('select * from country_vaccine', con=engine)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website,date_country
0,Belgium,BEL,2021-01-01 00:00:00,794,794,NaN,8.0,124,0.0,0.0,NaN,11.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Sciensano,https://epistat.wiv-isp.be/covid/,Belgium2021-01-01
1,Qatar,QAT,2021-01-01 00:00:00,0,0,NaN,NaN,1351,NaN,NaN,NaN,469.0,Pfizer/BioNTech,Ministry of Public Health,https://covid19.moph.gov.qa/EN/Pages/default.aspx,Qatar2021-01-01
2,Lithuania,LTU,2021-01-01 00:00:00,0,0,NaN,NaN,1466,NaN,NaN,NaN,539.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://ls-osp-sdg.maps.arcgis.com/apps/opsdas...,Lithuania2021-01-01
3,Luxembourg,LUX,2021-01-01 00:00:00,0,0,NaN,NaN,62,NaN,NaN,NaN,99.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of Luxembourg,https://data.public.lu/fr/datasets/r/9ddfedd6-...,Luxembourg2021-01-01
4,Cayman Islands,CYM,2021-01-01 00:00:00,0,0,NaN,NaN,275,NaN,NaN,NaN,4184.0,Pfizer/BioNTech,Cayman Islands Government,https://www.exploregov.ky/coronavirus-statistics,Cayman Islands2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7270,Faeroe Islands,FRO,2021-03-20 00:00:00,0,0,NaN,NaN,74,NaN,NaN,NaN,1514.0,"Moderna, Pfizer/BioNTech",Government of the Faeroe Islands,https://corona.fo/api,Faeroe Islands2021-03-20
7271,Rwanda,RWA,2021-03-20 00:00:00,333355,333355,NaN,3945.0,11402,3.0,3.0,NaN,880.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://twitter.com/RwandaHealth/status/137409...,Rwanda2021-03-20
7272,Philippines,PHL,2021-03-20 00:00:00,0,0,NaN,NaN,16154,NaN,NaN,NaN,147.0,Sinovac,Government of the Philippines,https://news.abs-cbn.com/news/03/22/21/doh-say...,Philippines2021-03-20
7273,Spain,ESP,2021-03-20 00:00:00,0,0,NaN,NaN,94115,NaN,NaN,NaN,2013.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://www.mscbs.gob.es/profesionales/saludPu...,Spain2021-03-20
7274,Zimbabwe,ZWE,2021-03-20 00:00:00,42210,42210,NaN,523.0,836,0.0,0.0,NaN,56.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...,Zimbabwe2021-03-20

In [16]:
#read the table: daily_corona from our database

pd.read_sql_query('select * from daily_corona', con=engine)

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,date_country
0,2021-01-01 00:00:00,Afghanistan,52586,73,8200.0,2211.0,10,Afghanistan2021-01-01
1,2021-01-01 00:00:00,Gabon,9571,0,119.0,64.0,0,Gabon2021-01-01
2,2021-01-01 00:00:00,Niger,3403,80,1469.0,106.0,2,Niger2021-01-01
3,2021-01-01 00:00:00,Belize,10776,0,733.0,248.0,0,Belize2021-01-01
4,2021-01-01 00:00:00,Trinidad And Tobago,7158,8,360.0,127.0,0,Trinidad And Tobago2021-01-01
...,...,...,...,...,...,...,...,...
17296,2021-03-20 00:00:00,Guyana,9585,99,882.0,214.0,2,Guyana2021-03-20
17297,2021-03-20 00:00:00,Micronesia,1,0,0.0,NaN,0,Micronesia2021-03-20
17298,2021-03-20 00:00:00,Panama,350665,445,5384.0,6042.0,7,Panama2021-03-20
17299,2021-03-20 00:00:00,Haiti,12714,0,1851.0,251.0,0,Haiti2021-03-20
17300,2021-03-20 00:00:00,Zimbabwe,36662,10,895.0,1510.0,0,Zimbabwe2021-03-20