In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Pulled Vaccine Data

vaccine_file = "Resources/country_vaccine.csv"
vaccine_df = pd.read_csv(vaccine_file)
vaccine_df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7739,Zimbabwe,ZWE,2021-03-18,40002.0,40002.0,NaN,395.0,569.0,0.27,0.27,NaN,38.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7740,Zimbabwe,ZWE,2021-03-19,41687.0,41687.0,NaN,1685.0,772.0,0.28,0.28,NaN,52.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7741,Zimbabwe,ZWE,2021-03-20,42210.0,42210.0,NaN,523.0,836.0,0.28,0.28,NaN,56.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7742,Zimbabwe,ZWE,2021-03-21,42729.0,42729.0,NaN,519.0,910.0,0.29,0.29,NaN,61.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7743,Zimbabwe,ZWE,2021-03-22,43294.0,43294.0,NaN,565.0,805.0,0.29,0.29,NaN,54.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...

In [4]:
#Created Vaccine Dataframe

# filtered the dataframe by betweens between 01-01-2021 through 03-01-2021
clean_vaccine = vaccine_df.loc[(vaccine_df['date'] >= '2021-01-01') & (vaccine_df['date'] < '2021-03-21')]

# replaced columns with nan with 0
clean_vaccine['total_vaccinations'] = clean_vaccine['total_vaccinations'].fillna(0)
clean_vaccine['people_vaccinated'] = clean_vaccine['people_vaccinated'].fillna(0)
clean_vaccine['daily_vaccinations'] = clean_vaccine['daily_vaccinations'].fillna(0)

#sorted the dataframe by the date column in ascending order
clean_vaccine = clean_vaccine.sort_values('date')

clean_vaccine.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
781,Belgium,BEL,2021-01-01,794.0,794.0,NaN,8.0,124.0,0.01,0.01,NaN,11.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Sciensano,https://epistat.wiv-isp.be/covid/
5760,Qatar,QAT,2021-01-01,0.0,0.0,NaN,NaN,1351.0,NaN,NaN,NaN,469.0,Pfizer/BioNTech,Ministry of Public Health,https://covid19.moph.gov.qa/EN/Pages/default.aspx
4214,Lithuania,LTU,2021-01-01,0.0,0.0,NaN,NaN,1466.0,NaN,NaN,NaN,539.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://ls-osp-sdg.maps.arcgis.com/apps/opsdas...
4297,Luxembourg,LUX,2021-01-01,0.0,0.0,NaN,NaN,62.0,NaN,NaN,NaN,99.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of Luxembourg,https://data.public.lu/fr/datasets/r/9ddfedd6-...
1289,Cayman Islands,CYM,2021-01-01,0.0,0.0,NaN,NaN,275.0,NaN,NaN,NaN,4184.0,Pfizer/BioNTech,Cayman Islands Government,https://www.exploregov.ky/coronavirus-statistics

In [5]:
#created a primary key column "date_country" using the country name plus the date

clean_vaccine['date_country'] = (clean_vaccine['country'])+ (clean_vaccine['date'].astype(str))

# reset the index and dropped the index column
reset_vaccine = clean_vaccine.reset_index()
reset_vaccine = reset_vaccine.drop('index', axis=1)
reset_vaccine.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website,date_country
0,Belgium,BEL,2021-01-01,794.0,794.0,NaN,8.0,124.0,0.01,0.01,NaN,11.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Sciensano,https://epistat.wiv-isp.be/covid/,Belgium2021-01-01
1,Qatar,QAT,2021-01-01,0.0,0.0,NaN,NaN,1351.0,NaN,NaN,NaN,469.0,Pfizer/BioNTech,Ministry of Public Health,https://covid19.moph.gov.qa/EN/Pages/default.aspx,Qatar2021-01-01
2,Lithuania,LTU,2021-01-01,0.0,0.0,NaN,NaN,1466.0,NaN,NaN,NaN,539.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Ministry of Health,https://ls-osp-sdg.maps.arcgis.com/apps/opsdas...,Lithuania2021-01-01
3,Luxembourg,LUX,2021-01-01,0.0,0.0,NaN,NaN,62.0,NaN,NaN,NaN,99.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of Luxembourg,https://data.public.lu/fr/datasets/r/9ddfedd6-...,Luxembourg2021-01-01
4,Cayman Islands,CYM,2021-01-01,0.0,0.0,NaN,NaN,275.0,NaN,NaN,NaN,4184.0,Pfizer/BioNTech,Cayman Islands Government,https://www.exploregov.ky/coronavirus-statistics,Cayman Islands2021-01-01

In [6]:
#pulled the daily_corona csv

corona_file = "Resources/daily_corona.csv"
corona_df = pd.read_csv(corona_file)
corona_df.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN

In [7]:
# filtered the dataframe by betweens between 01-01-2021 through 03-01-2021

clean_corona = corona_df.loc[(corona_df['date'] >= '2021-1-01') & (corona_df['date'] < '2021-3-21')]

# replaced columns with nan with 0
clean_corona['daily_new_cases'] = clean_corona['daily_new_cases'].fillna(0)
clean_corona['daily_new_deaths'] = clean_corona['daily_new_deaths'].fillna(0)

#sorted the dataframe by the date column in ascending order
clean_corona = clean_corona.sort_values('date')
clean_corona.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
321,2021-1-01,Afghanistan,52586.0,73.0,8200.0,2211.0,10.0
30167,2021-1-01,Gabon,9571.0,0.0,119.0,64.0,0.0
58780,2021-1-01,Niger,3403.0,80.0,1469.0,106.0,2.0
7978,2021-1-01,Belize,10776.0,0.0,733.0,248.0,0.0
80945,2021-1-01,Trinidad And Tobago,7158.0,8.0,360.0,127.0,0.0

In [8]:
# reset the index and dropped the index column

reset_corona = clean_corona.reset_index()
reset_corona = reset_corona.drop('index', axis=1)

#created a primary key column "date_country" using the country name plus the date
reset_corona['date_country'] = reset_corona['country']+ (reset_corona['date'].astype(str))
reset_corona.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,date_country
0,2021-1-01,Afghanistan,52586.0,73.0,8200.0,2211.0,10.0,Afghanistan2021-1-01
1,2021-1-01,Gabon,9571.0,0.0,119.0,64.0,0.0,Gabon2021-1-01
2,2021-1-01,Niger,3403.0,80.0,1469.0,106.0,2.0,Niger2021-1-01
3,2021-1-01,Belize,10776.0,0.0,733.0,248.0,0.0,Belize2021-1-01
4,2021-1-01,Trinidad And Tobago,7158.0,8.0,360.0,127.0,0.0,Trinidad And Tobago2021-1-01

In [9]:
# Connect to local Database

rds_connection_string = "postgres:anthony91@localhost:5432/hw_11"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
# pulled the table names from our database

engine.table_names()

['country_vaccine', 'daily_corona']

In [11]:
#pushed the reset_vaccine dataframe to our table: COUNTRY_VACCINE

reset_vaccine.to_sql(name='country_vaccine', con=engine, if_exists='append', index=False)

In [12]:
#pushed the reset_corona dataframe to our table:daily_corona

reset_corona.to_sql(name='daily_corona', con=engine, if_exists='append', index=False)

In [13]:
#read the table: COUNTRY_VACCINE from our database

pd.read_sql_query('select * from country_vaccine', con=engine).head()

Empty DataFrame
Columns: [country, iso_code, date, total_vaccinations, people_vaccinated, people_fully_vaccinated, daily_vaccinations_raw, daily_vaccinations, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, daily_vaccinations_per_million, vaccines, source_name, source_website, date_country]
Index: []

In [14]:
#read the table: daily_corona from our database

pd.read_sql_query('select * from daily_corona', con=engine).head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,date_country
0,2021-1-01,Afghanistan,52586,73,8200.0,2211.0,10,Afghanistan2021-1-01
1,2021-1-01,Gabon,9571,0,119.0,64.0,0,Gabon2021-1-01
2,2021-1-01,Niger,3403,80,1469.0,106.0,2,Niger2021-1-01
3,2021-1-01,Belize,10776,0,733.0,248.0,0,Belize2021-1-01
4,2021-1-01,Trinidad And Tobago,7158,8,360.0,127.0,0,Trinidad And Tobago2021-1-01